.hero {
    background: #191919 no-repeat center / cover;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 240px;
    -webkit-justify-content: center;
    justify-content: center;
    text-align: center;
}

.hero .copy {
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
    padding-left: 1rem;
    padding-right: 1rem;
    position: relative;
}

.hero .copy * {
    color: #fff;
}

.intro {
    color: #727272;
}

a.button {
    background-color: #0c96dd;
    color: #fff;
    display: inline-block;
    font-family: "Helvetica Neue", Arial, sans-serif;
    font-weight: bold;
    padding: 0.4em 1em;
    text-align: center;
    vertical-align: top;
    margin-bottom: 0;
}

a.button:hover, a.button:focus {
    background-color: #eb7424;
}

a.button.disabled, a.button[disabled] {
    background-color: #8c8c8c;
    color: #ccc;
    pointer-events: none;
}
